@model BookModel
@{
    ViewData["Title"] = "BookDetail";
}

<h1>@Model.OriginalTitle</h1>
<dl class="dl-horizontal">
    <dd>
        <img alt="" src="@Html.DisplayFor(model =>model.ImageUrl)" style="display: inline; margin-right: 5px;" />
    </dd>


    <dt>
        @Html.DisplayNameFor(model => model.BookId)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.BookId)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.OriginalTitle)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.OriginalTitle)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Authors)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Authors)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.AverageRating)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.AverageRating)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Isbn)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Isbn)
    </dd>
</dl>



