@model BookModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "BookDetail";
}

<h1>@Model.OriginalTitle</h1>
<dd>
    <img alt="" src="@Html.DisplayFor(model =>model.ImageUrl)" style="display: inline; margin-right: 5px; margin-bottom: 20px;" />
</dd>
<div>
    @if (SignInManager.IsSignedIn(User))
    {   <form asp-controller="Book" asp-action="BookDetail">
            <p>
                <button type="submit" class="btn-info" asp-controller="Book" asp-action="LikeABook">Like</button>
            </p>
        </form>
    }
</div>
<div>
    <table class="table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(modelItem => Model.BookId)
            </th>
            <td>
                @Html.DisplayFor(modelItem => Model.BookId)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(modelItem => Model.OriginalTitle)
            </th>
            <td>
                @Html.DisplayFor(modelItem => Model.OriginalTitle)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(modelItem => Model.Authors)
            </th>
            <td>
                @Html.DisplayFor(modelItem => Model.Authors)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(modelItem => Model.AverageRating)
            </th>
            <td>
                @Html.DisplayFor(modelItem => Model.AverageRating)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(modelItem => Model.Isbn)
            </th>
            <td>
                @Html.DisplayFor(modelItem => Model.Isbn)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(modelItem => Model.LanguageCode)
            </th>
            <td>
                @Html.DisplayFor(modelItem => Model.LanguageCode)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(modelItem => Model.GoodreadsBookId)
            </th>
            <td>
                @Html.DisplayFor(modelItem => Model.GoodreadsBookId)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(modelItem => Model.OriginalPublicationYear)
            </th>
            <td>
                @Html.DisplayFor(modelItem => Model.OriginalPublicationYear)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(modelItem => Model.RatingsCount)
            </th>
            <td>
                @Html.DisplayFor(modelItem => Model.RatingsCount)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(modelItem => Model.BooksCount)
            </th>
            <td>
                @Html.DisplayFor(modelItem => Model.BooksCount)
            </td>
        </tr>
    </table>
</div>



