@model IEnumerable<WikiBook.WebClient.Models.BookModel>

@{
    ViewData["Title"] = "All books";
}

<form asp-controller="Book" asp-action="Index">
   

    <p>
        Author: <input type="text" name="Author">

        Title: <input type="text" name="Title">

        BookId: <input type="number" name="BookId">
        <input type="submit" class="bg-light" value="Search" />
    </p>
    
</form>
<form asp-controller="Book" asp-action="BookDetail">
    <table class="border table-striped table-responsive-xl text-lg-center">
        <tr>
            <th>
                <text style="margin: 3px"> Cover</text>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().BookId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().OriginalTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Authors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().AverageRating)
            </th>
            <th></th>
        </tr>

        @foreach (var book in Model)
        {
            <tr>
                <td>
                    <img alt="" src="@Html.DisplayFor(modelItem => book.SmallImageUrl)" style="display: inline; margin: 10px;" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => book.BookId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => book.OriginalTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => book.Authors)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => book.AverageRating)
                </td>
                <td>
                    <button type="submit" class="btn-outline-dark rounded-pill" asp-controller="Book" asp-action="BookDetail" asp-route-id="@book.BookId" style="margin:10px">overview</button>
                </td>
            </tr>
        }

    </table>
</form>

